# Python
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Data and results files
*.pkl
*.pickle

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
